<app-header-two></app-header-two>
<app-banner></app-banner>
<div class="section section-padding bg-cover bg-center bg-secondary-1"
    [style.background-image]="'url(assets/img/background.png)'">
    <app-services></app-services>
    <app-counter></app-counter>
</div>
<div class="section section-padding bg-gray"></div>
<div class="section section-padding bg-gray">
  <app-testimonials></app-testimonials>
</div>
<div class="section section-padding bg-cover bg-center bg-secondary-1"
    [style.background-image]="'url(assets/img/background.png)'">
    <app-services-two></app-services-two>
    <div class="section section-padding p-0 margin-negative">
        <app-gallery-slider></app-gallery-slider>
    </div>
</div>
<div class="section section-padding"></div>
<app-blogs></app-blogs>
<app-footer></app-footer>
